.about-content
  #hero.hero
    .title-in-about
      %h1 Finding a New Point of View
  #approach.about-block
    .block-content
      .block-small-title
        %h2 Approach to Excellence
      .block-paragraph
        %p
          Our approach to excellence is really quite simple: hire great people.
          Treat them well and expect the best of them,and they will consistently Deliver incredible products.
          If you have truly exceptional products,the profits won't be far behind
  #value.about-block
    .block-title
      %h2 Values - Daring to be Great
    .block-content
      .block-small-title.spec
        %h3
          "Genius is one percent inspiration
          %br
          and 99% perspiration"
      .name
        %p Thomas Edison
      %br
      .block-paragraph
        %p
          Certain moments in the history of humanity have had an incredible, lasting impact. Certain
          
          technologies, certain ways of thinking or doing things have been so powerful that their effects
          
          can be felt centuries later. Those technologies have made millions of lives better through a
          
          seemingly small discovery.
          %br
          %br
          At Aerial Applications, we hope our work will play some small role in

          shaping the greatness of human history, and making lives better. We

          approach this challenge through patient, deliberate action with an eye

          towards building something that will last. We are not afraid of thinking

          about our business goals in terms of 15-year, and 30-year plans.
          %br
          %br
          The commitment we have to excellence manifests in our passion for an

          exceptional user experience. As the lines between software and service

          blur, a diligence for the highest quality experience remains constant. We

          believe that the best leaders lead by serving, that they inspire confidence by caring deeply

          about the people in their lives.
          %br
          %br
          For aerial applications that means having a deep concern for the customers we serve, listening

          to their end goals and helping them find a better way of achieving them. Caring for the people

          in our lives also means building a culture where we challenge each other to perform at the

          highest level, and insist upon excellence.
          %br
          %br
          We also believe that great leadership is about taking pride in our work, delivering the best

          possible product that we can make and constantly challenging ourselves to make it better.  We

          firmly believe that the products we bring to market bear the fingerprints of passion of every

          hand that touched it – from our designers, to our engineers, to our customers.
  #prodserv.about-block
    .block-title
      %h2 Product and Service
    .block-content
      .block-paragraph
        %p
        Driven by our desire for innovative excellence, Aerial Applications is making solutions for the
        
        UAV industry.  We developed Aerial Applications to make it easy to find a UAV pilot for your
        
        next project. We hope that you find it simple, beautiful and easy-to-use.
        %br
        %br
        We believe that flight missions are over priced across the industry. We are making them faster,
        
        more affordable, and higher quality.
        %br
        %br
        As the first step in serving our customer’s implementation needs, we built Aerial Applications to
        
        bring together all of the UAV pilots in the US.
        %br
        %br
        We are also in the process of developing new solutions for the needs of the UAV industry.
        
        Aerial Applications uses UAVs to provide our customers with high quality video, photography
        
        and data. We provide the software that matches customers with UAV pilots, making it easy to
        
        find the right pilot for the job. Aerial Applications has the ability to complete any civilian
        
        mission that requires a UAV. Our customers should be able to get their projects done faster, at
        
        lower costs, and higher quality than working with conventional aircraft.
  #team.about-block
    .block-title
      %h2 Team
    .block-content
      .block-small-title.spec
        %h3 “A friend is another self”
      .name Aristotle
      .member-table
        %table
          %tr{:style => "height: 2px"}
            %th
            %th
            %th
            %th
            %th
            %th
          %tr
            %td{:colspan => "2"}
              .member
                = image_tag "Joe-Sullivan.jpg", :class => "photo"
                .name Joseph Sullivan
                .position CEO
            %td{:colspan => "2"}
              .member
                = image_tag "Nathan.jpg", :class => "photo"
                .name Nathan Sullivan
                .position Lead Engineer
            %td{:colspan => "2"}
              .member
                = image_tag "Mike.jpg", :class => "photo"
                .name Mike Ledermann
                .position Engineer
          %tr
            %td
            %td{:colspan => "2"}
              .member
                = image_tag "Kyle.jpg", :class => "photo"
                .name Kyle Bembnister
                .position Engineer
            %td{:colspan => "2"}
              .member
                .photo
                .name Timothy Haas
                .position Business Development
            %td
  #advisor.about-block
    .block-title
      %h2 Advisors
    .block-content
      .advisor-table
        %table
          %tr
            %td{:colspan => "2"}
              .member
                = image_tag "Rich-Napoli.jpg", :class => "photo"
                .name Rich Napoli
                .position Advisor
            %td{:colspan => "2"}
              .member
                = image_tag "Vamsi-Sistla.jpg", :class => "photo"
                .name Vamsi Sistla
                .position Advisor
            %td
  #patner.about-block
    .block-title
      %h2 Partnerships
    .block-content
      %p
        Aerial Applications has formed research partnerships with Drexel University and Embry Riddle
        Aeronautical University to investigate some of the key questions around the UAV industry.
  #legal.about-block
    .block-title
      %h2 Legal Entity
    .block-content
      %p
        Aerial Applications is a division of Robotic Services Inc, a privately-held, Delaware corporation
        
        formed in November of 2015.