%h2#pagetitle.center Contact Us
.two-column-area
  .column.left.padded
    %p{:style => " margin-bottom: 20px;font-weight: bold;color: #7d7f80;"} Office Headquarters
    %p
      Aerial Application
      %br
      Sliver Laker Executive Campus
      %br
      41 University Drive
      %br
      Suite 400
      %br
      Newtown, PA 18940
    %br
    %p{:style => " margin-bottom: 20px;font-weight: bold;color: #7d7f80;"} Phone Number
    %p (267) 757-8700
    %br
    %p{:style => " margin-bottom: 20px;font-weight: bold;color: #7d7f80;"} General Email
    %p info@aerialapplications.co
  .column.right.padded
    = form_for @contact, url: main_create_contact_path, html: {:style => 'text-align: left'} do |c|
      .field
        Name
        %br
        = c.text_field :name
        - if @contact.errors[:name].any?
          %p= "Name #{@contact.errors[:name].join(',')}"
      .field
        Email
        %br
        = c.text_field :email
        - if @contact.errors[:name].any?
          %p= "Email #{@contact.errors[:name].join(',')}"
      .text_area
        Message
        %br
        = c.text_area :message
        %br
      .actions
        = c.submit "Submit", :style => "margin-top: 10px", :class => "button"
        %br
