-if @current_user.is_admin?
  .tile-wrapper
    .tile{onclick: "window.location = '/users';"}
      .tile-cover
      .tile-title Users
  .tile-wrapper
    .tile{onclick: "window.location = '/user_types';"}
      .tile-cover
      .tile-title User Types
  .tile-wrapper
    .tile{onclick: "window.location = '/interactions';"}
      .tile-cover
      .tile-title Audit Logs
  .tile-wrapper
    .tile{onclick: "window.location = '/projects';"}
      .tile-cover
      .tile-title Projects
  .tile-wrapper
    .tile{onclick: "window.location = '/project_types';"}
      .tile-cover
      .tile-title Project Types
  .tile-wrapper
    .tile{onclick: "window.location = '/project_status_types';"}
      .tile-cover
      .tile-title Project Status Types
  .tile-wrapper
    .tile{onclick: "window.location = '/media';"}
      .tile-cover
      .tile-title Media
  .tile-wrapper
    .tile{onclick: "window.location = '/media_types';"}
      .tile-cover
      .tile-title Media Types
  .tile-wrapper
    .tile{onclick: "window.location = '/referrals';"}
      .tile-cover
      .tile-title Referrals
  .tile-wrapper
    .tile{onclick: "window.location = '/payments';"}
      .tile-cover
      .tile-title Payments
-elsif @current_user.is_affiliate?
  .user-dash
    .dashboard
      %h2 Dashboard
      - if not @current_user.email_confirmed
        .notice-bar 
          .exclamation !
          .notice-message 
            Please verify your email address. 
            %span.verification-email
              = link_to 'Click to resend verification email', send_confirmation_email_user_path(@current_user), :remote => true
      .active-project
        %h3 Active Projects
        - if @projects.length > 0
          %table.a-1ist
            %tr
              %th Address
              %th Date Scheduled
              %th Client
            - @projects.each do |project|
              %tr
                %td
                  = link_to project.address, project_path(project.id)
                %td= project.due.strftime('%m-%d-%Y')
                %td 
                  = link_to project.get_client_name, user_path(project.customerId)
                  %br
                  %span
                    = link_to 'Message Client', messages_new_path(:toId => project.customerId), :class => "blue-link"
      .active-project
        %h3 New Messages
        - if @messages.length > 0
          %table.a-1ist
            %tr
              %th From
              %th Date
              %th Message
            - @messages.each do |msg|
              %tr
                %td= msg.get_sender_name
                %td= msg.created_at.strftime('%m-%d-%Y')
                %td= msg.message
      .active-project
        %h3 Referrals
        %p.inline
          Invite a friend to join Aerial Applications, and you’ll both get $50 off your
          next project
        .button.dashboard-btn
          = link_to 'Invite Friends', ''
-else
  .user-dash
    .dashboard
      %h2 Dashboard
      - if not @current_user.email_confirmed
        .notice-bar 
          .exclamation !
          .notice-message 
            Please verify your email address. 
            %span.verification-email
              = link_to 'Click to resend verification email', send_confirmation_email_user_path(@current_user), :remote => true
      .active-project
        %h3 Active Projects
        - if @projects.length > 0
          %table.a-1ist
            %tr
              %th Address
              %th Date Scheduled
              - if @current_user.is_affiliate?
                %th Client
              - else
                %th Pilot
            - @projects.each do |project|
              %tr
                %td
                  = link_to project.address, project_path(project.id)
                %td= project.due.strftime('%m-%d-%Y')
                %td 
                  = link_to project.get_pilot_name, user_path(project.affiliateId)
                  %br
                  %span
                    = link_to 'Message Pilot', messages_new_path(:toId => project.affiliateId), :class => "blue-link"
        .button.dashboard-btn
          = link_to 'New Project', new_project_path
      .active-project
        %h3 New Messages
        - if @messages.length > 0
          %table.a-1ist
            %tr
              %th From
              %th Date
              %th Message
            - @messages.each do |msg|
              %tr
                %td= msg.get_sender_name
                %td= msg.created_at.strftime('%m-%d-%Y')
                %td= msg.message
      .active-project
        %h3 Referrals
        %p.inline
          Invite a friend to join Aerial Applications, and you’ll both get $50 off your
          next project
        .button.dashboard-btn
          = link_to 'Invite Friends', ''