=stylesheet_link_tag 'bootstrap.min'
.account
  %h1 Account
  #sidebar
    %nav
      %ul
        %li
          %a{:href => "#Personal"} Personal Settings
        %li
          %a{:href => "#Company"} Company Info
        %li
          %a{:href => "#Payment"} Payment Methods
        %li
          %a{:href => "#Notification"} Notification Setting
        %li
          %a{:href => "#Referrals"} Referrals
    %input.button.sm{:type=>"button", :value=>"Save Changes"}
  #content.account-content
    %section#Personal
      %h2 Personal Settings
      .form_area
        %div#dialog{:style=>"display:none"} Hello
        = form_for @user do |u|
          %h3 Account Basics
          %label Email
          = u.text_field :email
          %br
          %label Password
          %input.gray-button{'data-toggle' => "modal", :type => "button", :value => "Change Password", 'data-target' => "#changePassModal"}
          %br
          %br
          %label
          =image_tag "fb-connect.jpg"
          %hr
          %h3 Profile
          %label First Name
          = u.text_field :firstName
          %br
          %label Last Name
          = u.text_field :lastName
          %br
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip code
          = u.text_field :zipCode
          %br
          %label Phone
          %input{:maxlength => "12", :style => "width: 130px", :type => "tel"}
          %select
            %option Cell
            %option Home
            %option Business
    %section#Company
      %h2 Company Info
      .form_area
        %form#company-basic
          %h3 Company Basics
          %label Industry
          %input
          %br
          %label Website
          %input
          %br
          %label HQ Phone
          %input
        %hr{:style=>"margin-top:15px;"}
        %form#company-address
          %h3 Company Address
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip Code
          %input
    %section#Payment
      %h2 Payment Methods
      .form_area
        %form
          %h3 Saved cards
          %table
            %tbody
              %tr
                %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                %td
                  %input.gray-button{:value => "Update This Card", :type => "button", 'data-toggle' => "modal", 'data-target' => "#updateCardModal"}
              %tr
                %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                %td
                  %input.gray-button{:value => "Update This Card", :type => "button", 'data-toggle' => "modal", 'data-target' => "#updateCardModal"}
          %input.button.sm{:value => "Add New Card", :type => "button", :style => "float:right;", 'data-toggle' => "modal", 'data-target' => "#addCardModal"}
    %section#Notification
      %h2 Notification Settings
      .form_area
        %form
          %input#unchecked.cbx{:type => "checkbox"}
            %label.lbl{:for => "unchecked"}
          .padleft Updates about my project orders
          %br
          %input#uncheckedd.cbx{:type => "checkbox"}
            %label.lbl{:for => "uncheckedd"}
          .padleft Occassional emails about the company (products, features, discounts, etc)
    %section#Referrals
      %h2 Refferals
      .form_area
        %h3 Referral Code
        under contrction
    %section
      %input.gray-button{:value => "Deactivate Account", :type=>"button", 'data-toggle' => "modal", 'data-target' => "#deactivateModal"}
    #changePassModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document"}
        .form_area.popup_form
          %form
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h3 Change Your Password
            %label Old Password
            %input{:type => "password"}
            %label New Password
            %input{:type => "password"}
            %label Repeat Password
            %input{:type => "password"}
            %input.button.sm{:value => "Change password", :type => "button", :style => "float:right;"}
            %input.gray-button{:value => "Cancel", :type => "button", :style => "float:right;", "data-dismiss" => "modal"}
    #addCardModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document"}
        .form_area.popup_form
          %form
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h3 Add New Card
            %label Card Number
            %input
            %label Name On Card
            %input
            %label Expiration Date
            %input{:maxlength => "2", :style => "width: 80px", :placeholder => "MM"}
            %input{:maxlength => "4", :style => "width: 100px", :placeholder => "YYYY"}
            CVC
            %input{:maxlength => "3", :style => "width: 100px"}
            %input.button.sm{:value => "Save", :type => "button", :style => "float:right;"}
            %input.gray-button{:value => "Cancel", :type => "button", :style => "float:right;", "data-dismiss" => "modal"}
    #updateCardModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document"}
        .form_area.popup_form
          %form
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h3 Update Card Information
            %label Card Number
            %input
            %label Name On Card
            %input
            %label Expiration Date
            %input{:maxlength => "2", :style => "width: 80px", :placeholder => "MM"}
            %input{:maxlength => "4", :style => "width: 100px", :placeholder => "YYYY"}
            CVC
            %input{:maxlength => "3", :style => "width: 100px"}
            %input.button.sm{:value => "Save", :type => "button", :style => "float:right;"}
            %input.button.sm{:value => "Remove Card", :type => "button", :style => "float:right;"}
            %input.gray-button{:value => "Cancel", :type => "button", :style => "float:right;", "data-dismiss" => "modal"}
    #deactivateModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document"}
        .form_area.popup_form
          %form
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h3 Deactivate Your Account
            %p Deactivating means that no one will see your profile or projects. You won’t be able to access any of your project files through our website Referrals unless you reactivate.
            %strong Please tell us why you’re leaving (optional):
            %textarea
            %input.button.sm{:value => "Deactivate", :type => "button", :style => "float:right;"}
            %input.gray-button{:value => "Cancel", :type => "button", :style => "float:right;", "data-dismiss" => "modal"}