=stylesheet_link_tag 'bootstrap.min'
.account
  %h1 Account
  #sidebar
    %nav
      %ul
        %li
          %a{:href => "#Personal"} Personal Settings
        %li
          %a{:href => "#Company"} Company Info
        %li
          %a{:href => "#Payment"} Payment Methods
        %li
          %a{:href => "#Notification"} Notification Setting
        %li
          %a{:href => "#Referrals"} Referrals
    %input.button.sm{:type=>"button", :value=>"Save Changes"}
  #content.account-content
    %section#Personal
      %h2 Personal Settings
      .form_area
        %div#dialog{:style=>"display:none"} Hello
        = form_for @user do |u|
          %h3 Account Basics
          %label Email
          = u.text_field :email
          %br
          %label Password
          %input.gray-button{'data-toggle' => "modal", :type => "button", :value => "Change Password", 'data-target' => "#myModal"}
          %br
          %br
          %label
          =image_tag "fb-connect.jpg"
          %hr
          %h3 Profile
          %label First Name
          = u.text_field :firstName
          %br
          %label Last Name
          = u.text_field :lastName
          %br
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip code
          = u.text_field :zipCode
          %br
          %label Phone
          %input{:maxlength => "12", :style => "width: 130px", :type => "tel"}
          %select
            %option Cell
            %option Home
            %option Business
    %section#Company
      %h2 Company Info
      .form_area
        %form#company-basic
          %h3 Company Basics
          %label Industry
          %input
          %br
          %label Website
          %input
          %br
          %label HQ Phone
          %input
        %hr{:style=>"margin-top:15px;"}
        %form#company-address
          %h3 Company Address
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip Code
          %input
    %section#Payment
      %h2 Payment Methods
      .form_area
        %form
          %h3 Saved cards
          %table
            %tbody
              %tr
                %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                %td
                  %input.gray-button{:value => "Update This Card", :type => "button"}
              %tr
                %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                %td
                  %input.gray-button{:value => "Update This Card", :type => "button"}
          %input.button.sm{:value => "Add New Card", :type => "button", :style => "float:right;"}
    %section#Notification
      %h2 Notification Settings
      .form_area
        %form
          %input#unchecked.cbx{:type => "checkbox"}
            %label.lbl{:for => "unchecked"}
          .padleft Updates about my project orders
          %br
          %input#uncheckedd.cbx{:type => "checkbox"}
            %label.lbl{:for => "uncheckedd"}
          .padleft Occassional emails about the company (products, features, discounts, etc)
    %section#Referrals
      %h2 Refferals
      .form_area
        %h3 Referral Code
        under contrction
    %section
      %input.gray-button{:value => "Deactivate Account", :type=>"button"}
    #myModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#gridSystemModalLabel.modal-title Add Payment Method
          .modal-body
            %br
              .row
                .col-md-3 Zip code
                .col-md-5
                  %input.form-control1{:placeholder => "10001", :type => "text"}/
          .modal-footer
            %button.btn.btn-primary1.btn-lg{"data-target" => "#myModal2", "data-toggle" => "modal", :type => "button"}
              Next