=stylesheet_link_tag 'bootstrap.min'
.account
  = form_for @user, method: :put do |u|
    #sidebar
      %h1 Account
      %nav
        - func ="$(this).parent().addClass('selected').siblings().removeClass('selected');"
        %ul
          %li
            = link_to "Personal Settings", "#Personal", :onclick => "#{func}"
          %li
            = link_to "Company Info", "#Company", :onclick => "#{func}"
          %li
            -if @user.is_affiliate?
              = link_to "Payout Methods", "#Payout", :onclick => "#{func}"
            -else
              = link_to "Payment Methods", "#Payment", :onclick => "#{func}"
          %li
            = link_to "Notification Settings", "#Notification", :onclick => "#{func}"
          %li
            = link_to "Referrals", "#Referrals", :onclick => "#{func}"
      %input.button.sm{:type=>"submit", :value=>"Save Changes"}
    #content
      #flashmessage.flash-message
        = flash[:notice]
      %section#Personal
        %h2 Personal Settings
        .form_area#personal
          %h3 Account Basics
          %label Email
          = u.text_field :email
          %br
          %label Password
          %input.gray-button{'data-toggle' => "modal", :type => "button", :value => "Change Password", 'data-target' => "#changePassModal"}
          %br
          %br
          =image_tag "fb-connect.jpg", :style => "border-radius: 2px;"
          %hr
          %h3 Profile
          %label First Name
          = u.text_field :firstName
          %br
          %label Last Name
          = u.text_field :lastName
          %br
          %label Address 1
          %input{:type => "text"}
          %br
          %label Address 2
          %input{:type => "text"}
          %br
          %label City
          %input{:type => "text"}
          %br
          %label State
          = select_tag :state, options_for_select(us_states)
          %br
          %label Zip code
          = u.number_field :zipCode
          %br
          %label Phone
          %input{:maxlength => "12", :style => "width: 130px; margin-right: 20px", :type => "tel"}
          %select{:style => "width: 100px;"}
            %option Cell
            %option Home
            %option Business
      %section#Company
        %h2 Company Info
        .form_area#company
          %h3 Company Basics
          %label Company Name
          %input{:type => "text"}
          %label Industry
          %input{:type => "text"}
          %br
          %label Website
          %input{:type => "text"}
          %br
          %label HQ Phone
          %input{:type => "text"}
          %hr{:style=>"margin-top:15px;"}
          %h3 Company Address
          %label Address 1
          %input{:type => "text"}
          %br
          %label Address 2
          %input{:type => "text"}
          %br
          %label City
          %input{:type => "text"}
          %br
          %label State
          = select_tag :state, options_for_select(us_states)
          %br
          %label Zip Code
          %input{:type => "text"}
      -if @user.is_affiliate?
        %section#Payout
          %h2 Payout Methods
          .form_area
            %h3 Saved Methods
            %table
              %tbody
                %tr
                  %td Direct Deposit
                  %td.payment-info John Doe, *****1234, 123456789 (checking)
                  %td
                    %input.gray-button{:value => "Edit Method", :type => "button", 'data-toggle' => "modal", 'data-target' => "#editMethodModal"}
                %tr
                  %td PayPal
                  %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                  %td
                    %input.gray-button{:value => "Edit Method", :type => "button", 'data-toggle' => "modal", 'data-target' => "#editMethodModal"}
            %input.button.sm{:value => "Add New Method", :type => "button", :style => "float:right;", 'data-toggle' => "modal", 'data-target' => "#addMethodModal"}      
      -else
        %section#Payment
          %h2 Payment Methods
          .form_area
            %h3 Saved cards
            %table
              %tbody
                - @cards.each do |c|
                  %tr
                    %td.payment-info
                      = "%s **** **** **** %d Exp: %d/%d" % [c.brand, c.last4, c.exp_month, c.exp_year]
                    %td
                      .gray-button
                        =link_to "Update This Card", user_card_info_url(@user, :authenticity_token => form_authenticity_token(), card_id: c.id), :type => "button", :style=>"margin: 0px;", :remote => true, method: :post, "data-toggle" => "modal"
                      = radio_button_tag "Default", "Primary", (c.id == @default_id)
                      Primary
            %input.button.sm{:value => "Add New Card", :type => "button", :style => "float:right;", 'data-toggle' => "modal", 'data-target' => "#addCardModal"}
      %section#Notification
        %h2 Notification Settings
        .form_area
          %input#unchecked.cbx{:type => "checkbox"}
            %label.lbl{:for => "unchecked"}
          .padleft Updates about my project orders
          %br
          %input#uncheckedd.cbx{:type => "checkbox"}
            %label.lbl{:for => "uncheckedd"}
          .padleft Occassional emails about the company (products, features, discounts, etc)
      %section#Referrals
        %h2 Referrals
        .form_area
          %h3 Referral Code
          under construction
      %section
        %input.gray-button{:value => "Deactivate Account", :type=>"button", 'data-toggle' => "modal", 'data-target' => "#deactivateModal"}
      %br
  #changePassModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = form_for @user, url:  user_update_password_url(@user), :remote => true, :authenticity_token => true do |u|
          %h3 Change Your Password
          .field
            %label Old Password
            = u.password_field :old_password
          .field
            %label New Password
            = u.password_field :password
          .field
            %label Repeat Password
            = u.password_field :password_confirmation
          = u.button "Cancel", :class => "gray-button cancel", "data-dismiss" => "modal", :style => "margin-left: 260px; margin-right: 25px;"
          = u.submit "Change password", :class => "button sm", 'data-toggle' => "modal"
    / The success modal is a child modal of changePass so when user closes success, the parent closes too.
    #successModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document", :style => "width: 570px;"}
        .form_area.popup
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %form
            %h3 Success
            %p.popup-message Your new password has been saved.
            %input.button.sm{:value => "Okay", :type => "button", "data-dismiss" => "modal", :style => "margin: 40px 0px 0px 310px;"}
  #addCardModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = form_for @user, url:  user_add_card_url(@user), :remote => true, :authenticity_token => true do |u|
          %h3 Add New Card
          .field
            %label Card Number
            = u.number_field :card_number
          .field
            %label Name On Card
            = u.text_field :name
          %label Expiration Date
          = u.text_field :exp_month, :maxlength => "2", :style => "width: 110px; margin-right: 20px;", :placeholder => "MM"
          = u.text_field :exp_year, :maxlength => "4", :style => "width: 110px; margin-right: 20px;", :placeholder => "YYYY"
          .popup-message.inline CVC
          = u.text_field :cvc, :maxlength => "3", :style => "width: 110px; margin-left: 11px;"
          = u.button "Cancel", :class => "gray-button cancel", "data-dismiss" => "modal", :style => "margin-left: 295px; margin-right: 20px;"
          =u.submit "Save", :class => "button", :style => "width: 130px;"
  #addMethodModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Add Payout Method
          %h5 Billing Information
          %label Address 1
          %input{:type => "text"}
          %label Address 2
          %input{:type => "text"}
          %label City
          %input#city{:placeholder => "New York", :type => "text"}
          %label State
          %input#state{:placeholder => "NY", :type => "text"}
          %label Zip Code
          %input#zip-code{:type => "text"}
          %label Country
          = select_tag :state, options_for_select(countries, "United States")
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#addMethodModal2"}
  #addMethodModal2.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Add Payout Method
          %h5 Method Type
          %p Payment will be released the day after you submit project files to your client. It may take additional time for your time for payment to reach you depending on which method you choose.
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#addMethodModal3"}
  #addMethodModal3.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Add Payout Method
          %h5 Direct Deposit (ACH)
          %label Name on Account
          %input{:type => "text"}
          %label Account Type 
          %select
            %option{:value => "Checking"} Checking
            %option{:value => "Savings"} Savings
          %label Routing Number
          %input{:type => "text"}
          %label Account Number
          %input{:type => "text"}
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#addMethodModal4"}
  #addMethodModal4.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Add Payout Method
          %h5 PayPal (replace this with an image)
          %p Paypal is an online payment processing service that allows you to receive paments from Aerial Applications, you must  have an existing account with paypal. Enter the email address associated with your PayPal account.
          %label PayPal Email
          %input{:type => "text"}
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#addMethodModal5"}
  #addMethodModal5.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Add Payout Method
          %h5 PayPal (replace this with an image)
          %p Is this the correct email address for your existing PayPal account?
          %h2 xyz@gmail.com
          %input.gray-button{:value => "Back", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#addMethodModal4"}
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#addMethodModal6"}
  #addMethodModal6.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Add Payout Method
          %h5 Direct Deposit (ACH)
          %label Name on Account
          %input{:type => "text"}
          %label Account Type 
          %select
            %option{:value => "Checking"} Checking
            %option{:value => "Savings"} Savings
          %label Routing Number
          %input{:type => "number"}
          %label Account Number
          %input{:type => "text"}
          %input.red-button{:value => "Delete", :type => "button", :style => "width: 120px;"}
          %input.button.next{:value => "Save", :type => "button", 'data-dismiss' => "modal"}
  #editMethodModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Update PayPal
          %h5 PayPal (replace this with an image)
          %p Paypal is an online payment processing service that allows you to receive paments from Aerial Applications, you must  have an existing account with paypal. Enter the email address associated with your PayPal account.
          %label PayPal Email
          %input
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#editMethodModal2"}
  #editMethodModal2.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document", :style => "width: 670px;"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3.header-margin Update PayPal
          %h5 PayPal (replace this with an image)
          %p Is this the correct email address for your existing PayPal account?
          %h2 xyz@gmail.com
          %input.gray-button{:value => "Back", :type => "button", 'data-dismiss' => "modal", 'data-toggle' => "modal", 'data-target' => "#editMethodModal"}
          %input.button.next{:value => "Next", :type => "button", 'data-dismiss' => "modal"}
  #deactivateModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
    %section.modal-dialog{:role => "document"}
      .form_area.popup
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %form
          %h3 Deactivate Your Account
          %p.popup-message Deactivating means that no one will see your profile or projects. You won’t be able to access any of your project files through our website unless you reactivate.
          %br
          %strong.popup-message Please tell us why you’re leaving (optional):
          %textarea
          %input.gray-button.cancel{:value => "Cancel", :type => "button", :style => "margin-left: 200px; margin-right: 15px; margin-top: 20px;", "data-dismiss" => "modal"}
          %input.button.sm{:value => "Deactivate", :type => "submit"}