=stylesheet_link_tag 'bootstrap.min'
.account
  %h1 Account
  #sidebar
    %nav
      %ul
        %li
          %a{:href => "#Personal"} Personal Settings
        %li
          %a{:href => "#Company"} Company Info
        %li
          -if @user.is_affiliate?
            %a{:href => "#Payout"} Payout Methods
          -else
            %a{:href => "#Payment"} Payment Methods
        %li
          %a{:href => "#Notification"} Notification Setting
        %li
          %a{:href => "#Referrals"} Referrals
    %input.button.sm{:type=>"button", :value=>"Save Changes"}
  #content.account-content
    %section#Personal
      %h2 Personal Settings
      .form_area
        %div#dialog{:style=>"display:none"} Hello
        = form_for @user do |u|
          %h3 Account Basics
          %label Email
          = u.text_field :email
          %br
          %label Password
          %input.gray-button{'data-toggle' => "modal", :type => "button", :value => "Change Password", 'data-target' => "#changePassModal"}
          %br
          %br
          =image_tag "fb-connect.jpg"
          %hr
          %h3 Profile
          %label First Name
          = u.text_field :firstName
          %br
          %label Last Name
          = u.text_field :lastName
          %br
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip code
          = u.text_field :zipCode
          %br
          %label Phone
          %input{:maxlength => "12", :style => "width: 130px", :type => "tel"}
          %select
            %option Cell
            %option Home
            %option Business
    %section#Company
      %h2 Company Info
      .form_area
        %form#company-basic
          %h3 Company Basics
          %label Industry
          %input
          %br
          %label Website
          %input
          %br
          %label HQ Phone
          %input
        %hr{:style=>"margin-top:15px;"}
        %form#company-address
          %h3 Company Address
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip Code
          %input
    -if @user.is_affiliate?
      %section#Payout
        %h2 Payout Methods
        .form_area
          %form
            %h3 Saved Methods
            %input.button.sm{:value => "Add New Method", :type => "button", :style => "float:right;", 'data-toggle' => "modal", 'data-target' => "#addMethodModal"}      
    -else
      %section#Payment
        %h2 Payment Methods
        .form_area
          %form
            %h3 Saved cards
            %table
              %tbody
                %tr
                  %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                  %td
                    %input.gray-button{:value => "Update This Card", :type => "button", 'data-toggle' => "modal", 'data-target' => "#updateCardModal"}
                %tr
                  %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                  %td
                    %input.gray-button{:value => "Update This Card", :type => "button", 'data-toggle' => "modal", 'data-target' => "#updateCardModal"}
            %input.button.sm{:value => "Add New Card", :type => "button", :style => "float:right;", 'data-toggle' => "modal", 'data-target' => "#addCardModal"}
    %section#Notification
      %h2 Notification Settings
      .form_area
        %form
          %input#unchecked.cbx{:type => "checkbox"}
            %label.lbl{:for => "unchecked"}
          .padleft Updates about my project orders
          %br
          %input#uncheckedd.cbx{:type => "checkbox"}
            %label.lbl{:for => "uncheckedd"}
          .padleft Occassional emails about the company (products, features, discounts, etc)
    %section#Referrals
      %h2 Refferals
      .form_area
        %h3 Referral Code
        under contrction
    %section
      %input.gray-button{:value => "Deactivate Account", :type=>"button", 'data-toggle' => "modal", 'data-target' => "#deactivateModal"}
    %br
    #changePassModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document", :style => "width: 670px;"}
        .form_area.popup_form
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %form
            %h3 Change Your Password
            %label Old Password
            %input{:type => "password"}
            %label New Password
            %input{:type => "password"}
            %label Repeat Password
            %input{:type => "password"}
            %input.gray-button.cancel{:value => "Cancel", :type => "button", "data-dismiss" => "modal", :style => "margin-left: 260px; margin-right: 25px;"}
            %input.button.sm{:value => "Change password", :type => "button", 'data-toggle' => "modal", 'data-target' => "#successModal"}
    #successModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document", :style => "width: 570px;"}
        .form_area.popup_form
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %form
            %h3 Success
            %p.popup-message Your new password has been saved.
            %input.button.sm{:value => "Okay", :type => "button", "data-dismiss" => "modal", :style => "margin: 40px 0px 0px 310px;"}
    #addCardModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document", :style => "width: 670px;"}
        .form_area.popup_form
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %form
            %h3 Add New Card
            %label Card Number
            %input
            %label Name On Card
            %input
            %label Expiration Date
            %input{:maxlength => "2", :style => "width: 110px; margin-right: 20px;", :placeholder => "MM"}
            %input{:maxlength => "4", :style => "width: 110px; margin-right: 20px;", :placeholder => "YYYY"}
            .popup-message CVC
            %input{:maxlength => "3", :style => "width: 110px; margin-left: 11px;"}
            %input.gray-button.cancel{:value => "Cancel", :type => "button", "data-dismiss" => "modal", :style => "margin-left: 295px; margin-right: 20px;"}
            %input.button{:value => "Save", :type => "button", :style => "width: 130px;"}
    #updateCardModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document", :style => "width: 670px;"}
        .form_area.popup_form
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %form
            %h3 Update Card Information
            %label Card Number
            %input
            %label Name On Card
            %input
            %label Expiration Date
            %input{:maxlength => "2", :style => "width: 110px; margin-right: 20px;", :placeholder => "MM"}
            %input{:maxlength => "4", :style => "width: 110px; margin-right: 20px;", :placeholder => "YYYY"}
            .popup-message CVC
            %input{:maxlength => "3", :style => "width: 110px; margin-left: 11px;"}
            %input.gray-button.cancel{:value => "Cancel", :type => "button", "data-dismiss" => "modal", :style => "margin-left: 150px; margin-right: 20px;"}
            %input.red-button{:value => "Remove Card", :type => "button", :style => "width: 120px;"}
            %input.button{:value => "Save", :type => "button", :style => "margin-left: 20px; width: 130px;"}
    #deactivateModal.modal.fade{"aria-labelledby" => "gridSystemModalLabel", :role => "dialog", :style => "display:none;", :tabindex => "-1"}
      %section.modal-dialog{:role => "document"}
        .form_area.popup_form
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %form
            %h3 Deactivate Your Account
            %p.popup-message Deactivating means that no one will see your profile or projects. You won’t be able to access any of your project files through our website Referrals unless you reactivate.
            %br
            %strong.popup-message Please tell us why you’re leaving (optional):
            %textarea
            %input.gray-button.cancel{:value => "Cancel", :type => "button", :style => "margin-left: 200px; margin-right: 15px; margin-top: 20px;", "data-dismiss" => "modal"}
            %input.button.sm{:value => "Deactivate", :type => "button"}          