.user-dash
  .dashboard
    %h2 Projects
    .new-button
      = link_to 'New Project', new_project_path
    .notice-bar !You have a new project draft. Click to return to your draft.
    .active-project
      %h3 Active Projects
      %table.a-1ist
        %tr
          %th Address
          %th Date Scheduled
          %th Pilot
        - @projects.each do |project|
          %tr
            %td= project.address
            %td= project.due.strftime('%m-%d-%Y')
            %td 
              = project.owner
              %br
              %span
                %a Message Pilot
    .active-project
      %h3 Delivered Projects
      %table.a-1ist
        %tr
          %th Address
          %th DateScheduled
          %th Pilot
          %th
        - @projects.each do |project|
          %tr
            %td= project.address
            %td= project.due.strftime('%m-%d-%Y')
            %td 
              = project.owner
              %br
              %span
                %a Leave a Review
            %td
              .button{:style => "width:160px"} Download Files