.user-dash
  .dashboard
    %h2 Projects
    - if @current_user.is_new_user?
      .button.sm
        = link_to 'New Project', new_project_path
      .notice-bar
        .exclamation ! 
        .notice-message You have a new project draft. Click to return to your draft.
    .active-project
      %h3 Active Projects
      - if @active_projects.length > 0
        %table.a-1ist
          %tr
            %th Address
            %th Date Scheduled
            - if @current_user.is_affiliate?
              %th Client
            - else
              %th Pilot
          - @active_projects.each do |project|
            %tr
              %td
                = link_to project.address, project_path(project.id), :class => "underline"
              %td= project.due.strftime('%m-%d-%Y')
              %td 
                - if @current_user.is_affiliate?
                  = link_to project.get_client_name, user_path(project.customerId), :class => "underline"
                  %br
                  %span
                    = link_to 'Message Client', messages_new_path(:toId => project.customerId), :class => "blue-link"
                - else
                  = link_to project.get_pilot_name, user_path(project.affiliateId), :class => "underline"
                  %br
                  %span
                    = link_to 'Message Pilot', messages_new_path(:toId => project.affiliateId), :class => "blue-link"
    .active-project
      %h3 Delivered Projects
      - if @delivered_projects.length > 0     
        %table.a-1ist
          %tr
            %th Address
            - if @current_user.is_affiliate?
              %th Date Delivered
              %th Client
              %th Review
            - else
              %th Delivered On
              %th Pilot
            %th
          - @delivered_projects.each do |project|
            %tr
              %td
                = link_to project.address, project_path(project.id)
              %td= project.due.strftime('%m-%d-%Y')
              - if @current_user.is_affiliate?
                %td 
                  = link_to project.get_client_name, user_path(project.customerId)
                %td
                  .blue-link Read review
              -else
                %td 
                  = link_to project.get_pilot_name, user_path(project.affiliateId)
                  %br
                  %span
                    .blue-link Leave a Review
                %td
                  .button{:style=>"min-width: 120px; width: 50%;"}
                    = link_to 'View Files', ''              